.btn {
  transition: all 200ms ease-in-out;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: normal;
  color: #ffffff;
  padding: 17px 20px;
  &.-primary {
    background: radial-gradient(243.25px at 0% 0%, #fa2946 0%, #cc1c58 100%);
    &:hover {
      color: #ffffff;
    }
  }
  &.-agate {
    background: linear-gradient(148.11deg, #3672f8 0%, #b01eff 100%);
    &:hover {
      color: #ffffff;
    }
  }
  &.-coral {
    background: linear-gradient(146.64deg, #14f1d9 1.79%, #3672f8 100%);
    &:hover {
      color: #ffffff;
    }
  }
  &:hover {
    transform: translatey(-3px);
    box-shadow: 0 10px 20px rgba(13, 57, 114, 0.15);
    transition: all 200ms ease-in-out;
  }
  &:active {
    transform: translatey(3px);
    box-shadow: 0 10px 20px rgba(13, 57, 114, 0.15);
    transition: all 100ms ease-in-out;
    background: radial-gradient(
      243.25px at 0% 0%,
      #fa2946 0%,
      #cc1c58 100%
    ) !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #fa294530;
  }
  &.-ico {
    img {
      margin-left: 10px;
    }
  }
  &.-form {
    position: absolute;
    top: 12px;
    padding: 13px;
    right: 12px;
    border-radius: 16px;
    border: none;
  }
}
